.vconf {
  height: 100%;
  line-height: 0em;
  background-color: theme-color("dark");
  display: grid;
  grid-template-rows: 1fr 200px;

  &__main-video {
    position: relative;
  }

  &__secondary-videos {
    background-color: theme-color("black");
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
